<div class="main text-center">
    <h1>カレンダー</h1>
    <br>
<%= link_to '日記をかく', new_blog_path ,class:"btn btn-primary"%>
    <div class="container">
        <%= month_calendar events: @blogs do |date, blogs| %>
        <%= date.day%>
        <% blogs.each do |blog| %>
            <% if blog.user_id == current_user.id %>
                <div>
                    <% if blog.migraine == "true" %>
                        <%= link_to blog.title, blog ,class:"migraine text-decoration-none"%>
                    <% else %>
                        <%= link_to blog.title, blog ,class:"text-decoration-none"%>
                    <% end %>
                </div>
            <% end%>
        <% end %>
    </div>
<% end %>
