<div class="main text-center">
        <table class="blog-show">
            <tr class="pb-3">
                <td><strong>タイトル</strong></td>
                <td><%= @blog.title %><td>
            </tr>

            <tr class="pb-5">
                <td><strong>時間</strong></td>
                <td><%= @blog.start_time.strftime("%Y-%m-%d %H:%M") %></td>
            </tr>

            <tr class="pb-5">
                <td><strong>内容</strong></td>
                <td><%= @blog.content %></td>
            </tr>

            <tr>
                <td><strong>片頭痛</strong></td>
                <%if @blog.migraine == "true"%>
                    <td>あり</td>
                <% else %>
                    <td>なし</td>
                <% end %>
            </tr>
        </table>
        <%= link_to '編集', edit_blog_path(@blog) ,class:"btn btn-primary col-3 mt-3" %><br>
        <%= link_to '削除',blog_path(@blog.id),method: :delete ,class:"btn btn-success col-3 mt-3",data: { confirm: '投稿を削除しますか？' } %><br>
        <%= link_to '戻る', blogs_path, class:"btn btn-secondary col-3 mt-3"%>
</div>